.vs__dropdown-toggle{
    padding: 0!important;
}
span.vs__selected {
    position: absolute;
}

input.vs__search {
    margin: 0;
}
.input-filter {
    padding: 0 14px 0 0!important;
}

.header-filter .grid-datos {
    display: grid;
}


@media (max-width: 1160px){
}
@media (max-width: 720px){
    .tableworker{
        padding-top: 20px;
          &__list{
              display: flex;
              gap: 8px;
              align-items: center;
          }
      }
    .tipocargoworker{
        &__content{
            display: grid !important;            
            grid-template-columns: repeat(1, 1fr 1fr);
            gap: 5.6rem;
            /*justify-content: space-between;
            height: 100%;*/
            //flex-flow: row !important;
        }
    }
}
@media (max-width: 620px){
    .tableworker{
          &__search{
            display: grid;
            grid-template-columns: repeat(1, 1fr) !important;
            button{
                width: 100% !important;
            }
          }
      }

      .headworker p {
        font-size: 11px !important;
    }
}

@media (max-width: 450px){
}




