//COLORES
$color_1:#4c1130;
$color_2:#a64d79;;
$color_3:#741b47;

$color_fondo:#adc395;

$color_t:#1F1E21;
$color_h:#111111;
$color_f:#F8F8F8;

//TIPOGRAFIA

$letra-t1: 0.9rem;
$letra-t2: 1.3rem;


//FORMAS
$radius: 8px;


//SOMBRAS
$sombra1: 0px 2px 8px rgba(0, 0, 0, 0.10);;


/*CONTENEDOR*/
$max-container: 1480px;
$container:90%;


/*Dispositivos*/
/*Media screen*/
$t_cell: 720px;
$t_tablet: 1150px;
$t_laptop: 1366px;
$t_escritorio: 1440px;

