@import 'variables';
@import 'grid';
@import 'responsive';

/*===========================================================================================================
=============================================================================================================*/

.text-white{
    color:white!important;
}

/*
    Position
*/
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}
/*=================*/

/*
    Espacio entre secciones
*/
.space-section{
    /*margin-top: 50px;*/
    margin-bottom: 0;
    padding: 10px 0px;
    z-index: 2;
}
/*=================*/

/*
    Flex
*/
.flex{
    display: flex;
}

.aling-center{
    align-items: center;
}

.justify-star{
    justify-content: start;
}

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: end;
}

.space-around{
    justify-content: space-around;
}

.space-between{
    justify-content: space-between;
}
/*=================*/

/*
* HEADER COLABORADORES
*/

.headerworker{
    background-color: $color_1;
    img{
        width: 75px;
    }
    &__logo{
        height: 100%;
        display: grid;
        align-content: center;
    }
    &__boton{
        height: 100%;
        padding: 1.2rem 0;
        a{
            background-color: rgba(255, 255, 255, 0.29);
            padding: 12px 0;
            color: #ffffff;
            border-radius: 5px;
            display: grid;
            justify-content: center;
            font-weight: bold;
        }
    }
    &__search{
    }
}

.tipocargoworker{
    background-color: #eeeeee;
    padding: 0.8rem 0;
    &__content{
        display: flex;
        justify-content: space-between;
        height: 100%;
        flex-flow: column;
    }
    &__boton{
        button{
            background-color: #4c1130;
            color: #fff;
            font-weight: bold;
            border: none;
            width: 100%;
            height: 35px;
            display: block;
            border-radius: 5px;
            cursor: pointer;
        }
    }
    &__img{
        img{            
            width: 100%;
        }
    }
}

.tableworker{
    &__list{
        display: flex;
        gap: 8px;
        align-items: center;
    }
}

/*====================*/

/*=================*/
/*
*
    MODAL
*
*/

.modal {
    background-color: rgba(0, 0, 0, 0.85) !important;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    z-index: 500;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(24, 37, 62, 0.78);
    display: grid;
    align-items: center;
    justify-items: center;
    pointer-events: none;
    overflow: hidden;
  }
  
  .modal__contenido {
    /*background-color: #ffffff;*/
    background-size: cover;
    background-position: center;
    max-width: 1130px;
    margin: 0 20px;
    position: relative;
    border-radius: 2px;
    display: grid;
    grid-template-columns: auto 1fr;
    overflow: hidden;
  }
  
  .modal__figura {
    display: block; 
  }
  .modal__figura img {
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .modal__bloque {
    padding: 20px 30px;
    display: grid;
  }
  
  .modal__head {
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .modal__head h2 {
    margin: 0;
    font-size: 18px;
    color: #676767;
  }
  
  .modal__close {
    font-size: 20px;
    color: #fff;
    padding: 0.4rem;
    background: #4c1130;
    margin: 0.4rem;
    border-radius: 5px;
  }
  
  .modal__img img {
    max-width: 100%;
  }
  
  .modal__body h2 {
    font-size: 28px !important;
    margin-bottom: 15px;
  }
  .modal__body h2 strong {
    font-size: 28px !important;
  }
  .modal__body p {
    margin-bottom: 12px;
  }
  .modal__body ul li {
    /*display: grid;
    grid-template-columns: auto 1fr;*/
    padding-left: 0;
  }
  .modal__body ul li img {
    margin-right: 8px;
    margin-top: 4px;
  }
  .modal__body ul li p {
    margin: 0;
  }
  .modal__body ul li:before {
    content: initial;
  }
  
  .modal__action {
    display: grid;
  }
  .modal__action__item--fila {
    display: grid;
    column-gap: 12px;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
  }
  
  
  
  
  .modal__web {
    max-width: 620px;
  }
  
  .modal__editar {
    padding-right: 20px;
    max-height: 300px;
    overflow-x: auto;
  }
  
  /* width */
  .modal__editar::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Handle */
  .modal__editar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  .modal__editar > p strong {
    color: red;
    display: block;
  }
  
  .modal__editar h3 {
    color: #676767;
    font-size: 18px;
    margin-bottom: 18px;
  }
  
  .modal__editar.editar ul li {
    padding-bottom: 10px;
    padding-left: 25px;
    position: relative;
  }
  
  .modal__editar.editar ul li:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background: #676767;
    border-radius: 50%;
    top: 5px;
    left: 10px;
  }
  
  .modal__editar--tienda strong {
    color: #676767 !important;
    /*margin-top: 25px;*/
    padding-bottom: 8px !important;
  }
  
  .modal__editar--tienda p {
    margin-bottom: 5px !important;
    display: flex !important;
  }
  
  .modal__editar--tienda p a {
    padding-left: 5px;
    color: red;
  }
  
  .img-modal img {
    margin: auto;
    display: block;
    width: 100%;
  }
  
  /*=====================*/
