/*.content__worker {
    max-width: 520px;
}*/

*,div{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
}

img{
    display: block;
}

p, a{   
    font-size: 0.9rem;
}
a{
    transition: 0.3s;
}
hr {
    background: #f1f0f0;
    border: 0;
    margin: 25px 0;
    height: 2px;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}

.worker {
    display: grid;
    grid-auto-flow: column;
    /*padding-bottom: 1rem;*/
    border-bottom: 1px solid #e9e9e9;
    /*margin-top: 1rem;*/
    align-items: center;
    grid-gap: 12px;
    grid-template-columns: repeat(1, 1fr 1fr 104px);
    text-align: center;
}

.headworker p {
    padding: 8px 26px;
    background: #4c1130;
    color: #fff;
    font-weight: bold;
}

.listinfoworker {
    padding: 1rem 0;
  }

.listinfoworker p {
    font-size: 16px;
    font-weight: bold;
  }

  .listinfoworker button i {
    font-size: 18px;
    font-weight: normal;
  }

  .listainfoworker__search{
    grid-template-columns: repeat(1, 1fr 1fr 1fr);
  }

.content{
    width: 100%;
    max-width: 720px;
    margin: auto;
    padding: 0 1.5rem;
}

.form-content {
    padding: 1.8rem;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    background-color: #ffffff;
    position: relative;
}

.form-content h2 {
    margin: 0;
    margin-bottom: 0.9rem;
}

.form-block {
    display: grid;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}
.form-block input {
    padding-left: 8px;
    width: 268px;
    height: 38px;
}

.form-block select {
    padding-left: 8px;
    width: 268px;
    height: 38px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    margin-top: 5px;
}

input {
    border: 1px solid #dfdfdf;
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
}

/*input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }*/

input[type="number"]
{
    -webkit-appearance: textfield !important;
    margin: 0;
    -moz-appearance:textfield !important;
}

.button {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.8rem 0;
    border: 0px;
    border-radius: 5px;
    background: #4c1130;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

.button--more{
    
}



.content__worker__scroll::-webkit-scrollbar-thumb, .content__worker__scroll::-moz-scrollbar-thumb {
    background: #26a0f9;
    border-radius: 10px;
}
.content__worker__scroll::-webkit-scrollbar-track, .content__worker__scroll::-moz-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
.content__worker__scroll::-webkit-scrollbar, .content__worker__scroll::-moz-scrollbar {
    width: 10px;
}
.content__worker__scroll {
    /*max-height: 420px;*/
    overflow-y: auto;
    padding: 0 1rem 0 0;
    height: calc(100vh - 160px);
    scrollbar-color: rgb(193, 193, 193) rgb(125, 125, 125);
    scrollbar-width: thin;
}

.search {
    display: grid;
    grid-template-columns: repeat(1, 1fr auto);
    grid-gap: 0.6rem;
    padding: 1.2rem 0;
}
.search button{
    background-color: rgba(255, 255, 255, 0.29);
    margin: 0;
    padding: 12px 18px;
}

.search input {
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding-left: 8px;
    margin: 0;
    height: auto;
    font-size: 18px;
    width: 100%;
}

.worker button, .worker input{
    margin: 0;
}

.search button {
    width: 100px;
    margin: 0;
}

input{
    outline: none;
}

#modal-formulario:target {
    opacity: 1;
    pointer-events: auto;
  }



  
@media (max-width: 720px){
    .content__worker__scroll {
        height: calc(100vh - 517px) !important;
    }
}
