/*.content__worker {
    max-width: 520px;
}*/

*,div{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
}

img{
    display: block;
}

p, a{   
    font-size: 0.9rem;
}
a{
    transition: 0.3s;
}
hr {
    background: #f1f0f0;
    border: 0;
    margin: 25px 0;
    height: 2px;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}

.worker {
    display: grid;
    grid-auto-flow: column;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e9e9e9;
    margin-top: 1rem;
    align-items: center;
    grid-gap: 12px;
    grid-template-columns: repeat(3, 1fr);
}

.content{
    width: 100%;
    max-width: 720px;
    margin: auto;
    padding: 0 1.5rem;
}

.form-content {
    padding: 1.8rem;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
}

.form-content h2 {
    margin: 0;
    margin-bottom: 0.9rem;
}

.form-block {
    display: grid;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}
.form-block input {
    padding-left: 8px;
}

input {
    border: 1px solid #dfdfdf;
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.button {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.8rem 0;
    border: 0px;
    border-radius: 5px;
    background: #26a0f9;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}



.content__worker__scroll::-webkit-scrollbar-thumb {
    background: #26a0f9;
    border-radius: 10px;
}
.content__worker__scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
.content__worker__scroll::-webkit-scrollbar {
    width: 10px;
}
.content__worker__scroll {
    max-height: 420px;
    overflow-y: scroll;
    padding: 0 1rem 0 0;
}

.search {
    display: grid;
    grid-template-columns: repeat(1, 1fr auto);
    grid-gap: 0.6rem;
}

.search input {
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding-left: 8px;
    margin: 0;
    height: auto;
}

.worker button, .worker input{
    margin: 0;
}

.search button {
    width: 100px;
    margin: 0;
}

input{
    outline: none;
}

